* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

form {
  width: 400px;
  max-width: 90%;
  margin: 30px auto 0; }
  form input {
    width: 100%;
    padding: 15px 0;
    text-indent: 20px;
    margin-bottom: 15px;
    outline: none; }
    form input.error {
      border: 2px solid red; }
    form input.success {
      border: 2px solid green; }
  form button {
    padding: 15px 30px; }
